<header>
  <div class="heading">
    <h1> Olivia Thompson </h1>
  </div>
  <div class="bunny">
    <img style="padding-left: 3px" src="assets/rabbit.gif" title="bunnygif"/>
  </div>
  <div class="navbar">
    <nav>
      <div class="routes">
        <a routerLink="/">Home </a>
        <a routerLink="/about">About </a>
        <a routerLink="/contact">Contact </a>
      </div>
    </nav>
  </div>
</header>
<br />

<body>
  <div class="homeImages">
    <a href>
      <img src="assets/pottery1.webp" title="piece1" />
    </a>

      <img src="assets/pottery2.jpg" title="piece2" />
      <img src="assets/pottery3.jpg" title="piece3" />
      <img src="assets/pottery4.jpg" title="piece4" />
      <img src="assets/pottery5.jpg" title="piece4" />


  </div>


</body>



<router-outlet />