/* You can add global styles to this file, and also import other style files */
html{
 background: linear-gradient(to right, #ff6a00, #ee0979);
}

a{
 color: white;
 font-weight : 250;
 font-size: larger;
}